
// set your custom highlight colors here

$chunkBgColorCustom: #ffffff;
$errorColorCustom: #AD0000; // not used

$textColorCustom: #000000;

$lineHighlightColorCustom: #ffffcc;
$lineNumbersColorCustom: #aaaaaa;

$keywordColorCustom: #4758AB;
$keywordConstantColorCustom: #8f5902;
$keywordFontWeight: normal;

$literalStringColorCustom: #20794D;
$literalNumberColorCustom: #AD0000;

$operatorColorCustom: #5E5E5E;

$commentColorCustom: #5E5E5E;
$commentFontStyle: normal;

$nametagColorCustom: #007BA5;
