
// set your custom highlight colors here

$chunkBgColorCustom: #2c2c2c;

$textColorCustom: #ff9933;

$keywordColorCustom: #99ccff;
$keywordFontWeight: bold;

$literalStringColorCustom: #ffcc66;
$literalNumberColorCustom: #cc6699;

$commentColorCustom: #848484;
$commentHighlightColorCustom: #fff0f0; // needs changing
$commentFontStyle: italic;

$nametagColorCustom: #6699cc;